<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>ElFinder</title>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'el_vfs/elfinder', 'el_vfs/i18n/elfinder.ru' %>
    <%= stylesheet_link_tag 'el_vfs/el_vfs' %>
    <script type="text/javascript" charset="utf-8" >
      //<![CDATA[
        $(function(){
          function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&)' + paramName + '=([^&]+)', 'i') ;
            var match = window.location.search.match(reParam) ;
            return (match && match.length > 1) ? match[1] : '' ;
          };

          var funcNum = getUrlParam('CKEditorFuncNum');

          $('#elfinder').elfinder({
            url: '/api/el_finder/v2',
            lang: 'ru',
            getFileCallback : function(file) {
              window.opener.CKEDITOR.tools.callFunction(funcNum, file);
              window.close();
              },
            resizable: false
          }).elfinder('instance');
        });
      //]]>
    </script>
  </head>
  <body id='elfinder'>
  </body>
</html>
