<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>ElFinder</title>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'el_vfs/elfinder', 'el_vfs/i18n/elfinder.ru.js' %>
    <%= stylesheet_link_tag 'el_vfs/el_vfs' %>
    <script type="text/javascript" charset="utf-8" >
      //<![CDATA[
        $(function(){
          function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&)' + paramName + '=([^&]+)', 'i') ;
            var match = window.location.search.match(reParam) ;
            return (match && match.length > 1) ? match[1] : '' ;
          };

          var funcNum = getUrlParam('CKEditorFuncNum');

          $('#elfinder').elfinder({
            url: '/api/el_finder/v2',
            customData: {
              root_path: '<%= @root_path %>'
            },
            lang: 'ru',
            ui: ['tree', 'toolbar'],
            commandsOptions: {
              getfile: {
                onlyURL: false
              }
            },
            uiOptions: {
              toolbar: [['back', 'mkdir', 'upload', 'quicklook', 'rm']],
            },
            getFileCallback : function(file) {
              var info_path = $('#info_path', window.parent.document);
              var elfinder_picture_dialog = $('#elfinder_picture_dialog', window.parent.document);

              if (info_path.length != 0){
                info_path.val(file.hash);
                parent.$('#info_path').trigger('change');
              }else if (elfinder_picture_dialog.length !=0){
                var input = $('#'+elfinder_picture_dialog.attr('id_data'), window.parent.document);
                input.val(file.url);
                parent.$(input).trigger('change');
                window.parent.$(elfinder_picture_dialog).dialog('close');
              }else{
                window.opener.CKEDITOR.tools.callFunction(funcNum, file.url);
                window.close();
              };
            },
            resizable: false
          }).elfinder('instance');

          $('#root_path', window.parent.document).val('<%= @root_path %>');
        });
      //]]>
    </script>
  </head>
  <body id='elfinder'>
  </body>
</html>
